
<ion-header>

  <ion-navbar>
    <ion-title>Ordinary Level</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-content padding>
    <p>Choose your class</p>
    <ion-row>
    <ion-col col-6>
      <div class="dropdown" >
      <button ion-button  round color="back" class="dropbtn"><pre>Form 1 <ion-icon name="arrow-dropdown-circle"></ion-icon></pre></button>
      <ion-list class="dropdown-content" >
        <ion-item *ngFor="let sub of sub1" (click)="subjects(sub.subject_id,sub.subject_name,sub.class_name)">
      {{sub.subject_name}}
        </ion-item>
      </ion-list>
    </div>
  </ion-col>

      <ion-col col-6>
        <div class="dropdown" >
        <button ion-button  round color="back" class="dropbtn"><pre>Form 2 <ion-icon name="arrow-dropdown-circle"></ion-icon></pre></button>
        <ion-list class="dropdown-content" >
          <ion-item *ngFor="let sub of sub2" (click)="subjects(sub.subject_id,sub.subject_name,sub.class_name)">
        {{sub.subject_name}}
          </ion-item>
          </ion-list>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
  <ion-col col-6>
    <div class="dropdown" >
    <button ion-button  round color="back" class="dropbtn"><pre>Form 3 <ion-icon name="arrow-dropdown-circle"></ion-icon></pre></button>
    <ion-list class="dropdown-content" >
      <ion-item *ngFor="let sub of sub3" (click)="subjects(sub.subject_id,sub.subject_name,sub.class_name)">
    {{sub.subject_name}}
      </ion-item>
    </ion-list>
  </div>
  </ion-col>

    <ion-col col-6>
      <div class="dropdown" >
      <button ion-button  round color="back" class="dropbtn"><pre>Form 4 <ion-icon name="arrow-dropdown-circle"></ion-icon></pre></button>
      <ion-list class="dropdown-content" >
        <ion-item *ngFor="let sub of sub4" (click)="subjects(sub.subject_id,sub.subject_name,sub.class_name)">
      {{sub.subject_name}}
        </ion-item>
        </ion-list>
    </div>
  </ion-col>
  </ion-row>
</ion-content>
